*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
header .top .logo img{
    width: 250px;
}
header .top .topMenu{
    display: flex;
}
header .top .topMenu input{
    padding: 10px 15px;
    border: solid 1px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    outline: none;
}
header .top .topMenu ul{
    display: flex;
}
header .top .topMenu li{
    list-style: none;
}
header .top .topMenu li a{
    padding: 10px 15px;
    border: solid 1px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
header .top .topMenu li a:hover{
    background: rgb(73,4,0);
    background: linear-gradient(90deg, rgba(73,4,0,0.8981967787114846) 0%, rgba(231,79,0,1) 0%, rgba(30,43,204,1) 100%);
    color: white;
}
header .top .social ul{
    display: flex;
}
header .top .social li{
    list-style: none;
    margin-left: 10px;
}
header .top .social li img{
    width: 35px;
}
header .banner {
    text-align: center;
    padding: 100px 0;
}
header .banner .center h1{
    font-size: 40px;
    font-weight: 300;
}
header .banner .center h2{
    margin-left: 650px;
    font-size: 24px;
}
header .banner .center p{
    padding: 15px 0 30px;
    font-size: 20px;
}
header .banner .center a{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border: solid 1px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
}
header .banner .center a:hover{
    background: rgb(73,4,0);
    background: linear-gradient(90deg, rgba(73,4,0,0.8981967787114846) 0%, rgba(231,79,0,1) 0%, rgba(30,43,204,1) 100%);
    color: white;
}

.first .menu h2{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.first .row{
    margin-bottom: 30px;
}
.first .menu .cards {
    display: flex;
    justify-content: space-between;
}
.first .menu .card{
    text-align: center;
    border: none;
}
.first .menu .card img{
    width: 100%;
    margin-bottom: 24px;
}
.first .menu .card h3{
    font-size: 22px;
    text-transform: uppercase;
}
.first .menu .card p{
    padding: 10px 0;
}

.second .cart img{
    width: 100%;
    height: 300px;
}


/*footer .social li{*/
/*    list-style: none;*/
/*    margin-bottom: 10px;*/
/*}*/
/*footer .social li img{*/
/*    width: 35px;*/
/*}*/